<!doctype html>
<html>
  <head>
    <title>Chat Box</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <!-- External CSS file-->
   <link rel="stylesheet" type="text/css" href="CSS/Main.css">
   <script type="text/javascript"> 
   </script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="messageBox" autocomplete="off" placeholder="please enter your message here" /><button class="btn btn-block btn-primary">Send</button>
    </form>
    
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

 <!-- External JS file-->
<script type="text/javascript" src="JS/Main.js"></script>
<script type="text/javascript" src="JS/cookiehandler.js"></script>
<script>
$(document).ready(function() {
	setName();
	});
</script>
  </body>
</html>